src/*.exe
src/doscoin
src/doscoind
src/test_doscoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.doscoin

# Compilation and Qt preprocessor part
*.qm
Makefile
doscoin-qt
Doscoin-Qt.app

# Unit-tests
Makefile.test
doscoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
